[user]
	name = Carlos Peix
	email = carlos.peix@gmail.com

[core]
	editor = vim
    autocrlf = input

[color "diff"]
	whitespace = red reverse

[credential]
    helper = cache --timeout=3600

[include]
	path = ~/.gitconfig.user

