[user]
	name = Carlos Peix
	email = carlos.peix@gmail.com
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEgUIrk+TzXu2zGPo6nWzdB/sUuos3i0UO96358gYx9J carlos.peix@gmail.com

[core]
	editor = vim
	autocrlf = input

[color "diff"]
	whitespace = red reverse

[credential]
	helper = cache --timeout=18000
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/carlos/.ssh/allowed_signers
